span.horizontal-line {
    width: 100%;
    height: 5px;
    background-color: #000;
    color: #000;
    display: block;
    position: absolute;
    top: 9px; }

nav.header-nav {
    position: relative;
    margin-top: 25px; }
nav.header-nav > ul > li {
    display: inline-block; }
nav.header-nav > ul > li > a {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border-top: 5px solid black;
    padding: 10px; }
nav.header-nav > ul > li > a:hover {
    color: rgba(255, 39, 42, 0.81);
    border-top-color: rgba(255, 39, 42, 0.81);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
nav.header-nav > ul li.dropdown {
    position: relative; }
nav.header-nav > ul li.dropdown ul.dropdown-menu {
    top: 35px;
    position: absolute;
    background-color: #000;
    box-shadow: 0px 14px 68px -15px rgba(0, 0, 0, 0.75); }
nav.header-nav > ul li.dropdown ul.dropdown-menu li {
    color: #fff;
    padding: 10px 5px;
    display: inline-block; }
nav.header-nav > ul li.dropdown ul.dropdown-menu li a {
    color: #fff;
    padding: 10px 0;
    text-decoration: none; }
nav.header-nav > ul li.dropdown ul.dropdown-menu li a:hover {
    color: rgba(255, 39, 42, 0.81);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
nav.header-nav > ul li.dropdown ul.dropdown-menu li img {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 100%;
    z-index: 10;
    top: 0; }

.hidden {
    display: none; }